<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Niall Bunting</title>
	<link href="index.css" rel="stylesheet" media="screen" type="text/css">
	<meta name="description" content="Niall Bunting's Personal Website. Which contains various information about him.">
	<script src="./scripts/index.js">//The index javascript</script>
        <script type="text/javascript" src="./scripts/google.js">//Google Analytics</script>
</head>
<body>
	<div class="wrapper">
		<div id="left">
			<p>
				<div class="circular">
					<img src="Me.png" alt="A Black and white picture of Niall." />
				</div>
			</p>
		</div>
		<div id="right">

			<h1>Hi, I'm Niall Bunting</h1>
			<p>
				I'm a former student of <a href="http://aber.ac.uk">Aberystwyth University</a>, having studied computer science. I'm now working as a software developer.
			</p>
			<p>
				I enjoy setting myself projects normally involving technology. One area I think particularly interesting is virtual reality (VR).
			</p>
			<p>
				Outside of technology I like playing the game of Go and have competed in <a href="http://www.europeangodatabase.eu/EGD/Player_Card.php?key=18650280">tournaments</a>.
			</p>

		</div>
	</div>
	<div class="wrapper">
		<div class="content">
			<h2>Project Links</h2>
				<ul>
					<li><a href="https://rawgit.com/NiallBunting/Password-Generator/v0.1/index.html">Data Derived Password Generator.</a></li>
					<li><a href="url-multi-redirect">Multiple URL Forwarder.</a></li>
					<li><a href="ukdvorak">Microsoft UK Dvorak Keyboard Layout</a></li>
				</ul>
		</div>
	</div>
	<div class="wrapper">
		<div class="content">
			<hr>

			<p>
				<h2>Places To Find Me:</h2>
				<ul>
					<li><a href="http://linkedin.com/in/niallbunting">LinkedIn</a></li>
					<li><a href="http://github.com/NiallBunting/">GitHub</a></li>
				</ul>
			</p>
		</div>
	</div>
</body>
</html>
