---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ "/" | relative_url }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ "/" | relative_url }}feed.xml">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <hr>

        <section id="more-work" class="moreposts">
            {% if page.previous %}
                {% assign previous = page.previous %}
            {% else %}
                {% assign previous = site.posts[0] %}
            {% endif %}
            <div class="row">
                <a class="equalize" href="{{site.baseurl}}{{previous.url}}" title="Previous Post: {{previous.title}}">
                    <div>
                        <h6> ← Previous Post </h6> {{previous.title}} 
                    </div>
                </a>
            </div>
        
            {% if page.next %}
                {% assign next = page.next %}
            {% else %}
                {% assign last lastPostIndex = site.posts | size | minus: 1 %}
                {% assign next = site.posts[lastPostIndex] %}
            {% endif %}
            <div class="row">
                <a class="equalize" href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
                    <div>
                        <h6> Next Post →</h6>
                         {{next.title}}
                    </div>
                </a>
            </div>
        </section>

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ "/" | relative_url }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        A software engineer, who occasionally likes to blog his learnings.
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include follow.html %}

            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>
